@font-face {
    font-family: 'Jost', sans-serif;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'DM Serif Display', serif;
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}